body{
  background-color:#fff;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

h1{
  color:#333;
  font-size:26px;

}

.container{
  width:800px;
  margin: 0 auto;
}

.thomas-young-diagram{
  margin: 10px 0 20px;
  opacity: 0.5;
}

#canvas{
  border: 1px solid #ddd;
  position: relative;
  height:500px;
  width:800px;
  margin: 0 auto;
  background-color:white;
  overflow: hidden;
}

.circle{
  width: 100px;
  height: 100px;
  border: 1px solid #eee;
  border-radius:100px;
  position: absolute;
  top:0;
  left:0;
}

@for $i from 1 to 92 {

  .circle:nth-child(#{$i}) {
    z-index: 100 - $i;
    left: $i * 10px;
    width: $i * 20 + 10px;
    height: $i * 20 + 10px;
    border-radius: $i * 20 + 10px;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: translate( -($i) * 20px - 5px, (24 - $i / 2) * 20px - 400px);
    &:hover{
      // background-color:red;
      // border: 1px solid #333;
    }
  }

  @if $i % 4 == 0{
    .circle:nth-child(#{$i}) {
      display: none;
    }
  }
}

.circle-wrapper2{
  position: absolute;
  top:300px;
}